img{
	border-radius: 50%;
	width: 20%;
	display: block;
	margin: 3%;
	margin-left: auto;
	margin-right: auto;
}

a{
	font-size: 30px;
}

.panel-default>.panel-heading{
	text-decoration: none;
	text-align: center;
	font-family: serif;
}

#skins thead tr th{
	font-size: 30px;
}

#kaisa-text{
	margin:3% 0% 3% 0%;
	text-align: center;
	font-size: 55px;
	color: #000000;
	font-family: 'Press Start 2P', cursive;
}

table {
	font-size: 15px;
}
table tbody tr td img {
	width: 150px ;
	height: 150px ;
}

table tbody tr td h1 {
	color: black;
}

table thead tr th{
	text-align: center;
}

table tbody tr td{
	text-align: center;
}

table tbody tr td img{
	margin-top: 10%;
	margin-bottom: 20%;
	overflow:hidden;
}

table tbody tr td img:hover {
	-webkit-transform:scale(1.5);transform:scale(1.3);
}