html,body{
  background:black;
  overflow-x: hidden;
  color:black;
  height:100%;
  width:101%;
  margin: 0px;
  padding: 0px;
  overflow-y : scroll;
}

#inselect:hover{
	font-size: 15px;
}
.navbar{
  margin-bottom: 0%;
}

#nav-icon-style{
  margin-left: 150px;
}

#nav-icon-style img{
  margin-left: 20px;
  height: 50px;
  width: auto;
  border-radius: 0%;
  filter: blur(0px);
  margin-top: -15px;
}

.nav-class{
  height: 10px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
.navbar-links{
  margin-left: 50px;
}
.nav-search{
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: -2px;
}

#link-1 a{
  font-size: 20px;
}
#nav-icon-style a:hover{
  border-color: green;
  border-radius: 20px 10px 0px 20px;
}
.navbar-links a:hover{
  font-size: 18px;
  border-style: solid;
  border-color: #416475;
  border-radius: 20px 10px 0px 20px;
}

@media (min-height:700px){
  #nav-index{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
}
.title-index h1{
	font-family: 'Russo One', sans-serif;
  text-align: center;
	font-size: 50px;
	margin-top: 5%;
	color: white;
}
#container-id{
	margin-bottom: 10%;
}
::-webkit-scrollbar {
    display: none;
}
img:hover{
	filter: blur(0px);
}

img{
	margin-top: 10%;
	height: 300px;
	width: 300px;
	filter: blur(3px);
	border-radius: 50%;
	margin-bottom: 10%;
}
a:hover{
	font-size: 37px;
}

a{
	font-size: 35px;
}

#Kaisa{
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

#Mordekaiser{
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

.Garen{
	text-align: center;
	font-family: 'Russo One', sans-serif;
}
ul li a{
	font-size: 15px;
}
#pagination-index{
	margin-left: 45%;
}

h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
  border: 1px solid #ccc;
}
#nav-index {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
.nav-item a{
  left: 15px;
  color:red;
  text-align:center;
  position:static;
  left:100px;
  margin-left: 350px;
  margin-right: 350px;
  font-size:30px;
}


.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

